# =============== #
# Unity generated #
# =============== #
GAI_FPS-test/Temp/
GAI_FPS-test/Library/
GAI_FPS-test/ProjectSettings/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
GAI_FPS-test/*.csproj
GAI_FPS-test/*.pidb
GAI_FPS-test/*.suo
GAI_FPS-test/*.sln
GAI_FPS-test/*.user
GAI_FPS-test/*.unityproj
GAI_FPS-test/*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db


